<%- include('includes/header'); -%> 
    <div class="container">
        <div class="header">
            <h1>Weather App</h1>
            <h2>
                <%= currentDate %>
            </h2>
        </div>
        <div class="content">
            <!-- Form -->
            <form action="/" method="POST">
                <input type="text" name="cityName">
                <button type="submit" name="button">
                    <i class="fas fa-plus"></i>
                </button>
            </form>
            <!-- List -->
            <div class="box-container">
                <% weatherList.forEach(weather => { %>
                    <div class="box">
                        <div class="intel">
                            <p>
                                <span>City:</span>
                                <span>
                                    <%= weather.city %>
                                </span>
                            </p>
                            <p>
                                <span>Temperature:</span>
                                <span>
                                    <%= weather.temp %>
                                </span>
                            </p>
                            <p>
                                <span>Description:</span>
                                <span>
                                    <%= weather.description %>
                                </span>
                            </p>
                        </div>
                        <div>
                            <img src="<%= weather.icon %>" width="75" height="75">
                        </div>
                    </div>
                <% }); %> 
            </div>
        </div>
    </div>
<%- include('includes/footer'); -%> 